* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: #fff;
}
.main-section {
    min-height: 100vh;
    padding: 1rem;
    position: relative;
    overflow: hidden;
    display: grid;
    grid-template-areas:
        "nav nav nav"
        "content content content"
        "footer footer side-options";
    grid-template-columns: 2fr 2fr 1fr;
    grid-template-rows: auto 1fr auto;
}
.main-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url(bg.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    filter: brightness(50%);
    z-index: -1;
}
.nav {
    grid-area: nav;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
    border-bottom: 2px solid #919191;
}
.nav-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.nav p {
    margin-right: auto;
    font-size: 1.2rem;
    font-weight: 500;
    color: #fff;
}
.content {
    grid-area: content;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}
.side-options {
    grid-area: side-options;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.side {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #cecece;
}
.side svg {
    width: 1rem;
    height: 1rem;
}
.footer {
    grid-area: footer;
    display: flex;
    gap: 0.5rem;
    color: #fff;
}
.footer p {
    width: 50%;
}
